.download {
  padding-top: 28px;
  padding-bottom: 28px;

  background-color: #1d2631;

  text-align: center;
}

.download__wrapper {
  padding: 0 20px;
}

.download a,
.download p {
  color: #ffffff;
}

.markets-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;

  list-style: none;
}

.download-by-defoult {
  margin-bottom: 30px;
  border-color: #ffffff;

  color: #ffffff;
}

.download-by-defoult:hover {
  border-color: #ffffff;

  color: rgba(210, 40, 86, 1);

  background-color: #ffffff;
}

.download-by-defoult:active {
  border-color: #ffffff;

  color: rgba(210, 40, 86, 0.3);

  background-color: #ffffff;
}
